mixin ticketLabel(type)
  span(class!=attributes.class || `ticket-card__label`) #{type === `OFFER` ? `Куплю` : `Продам`}

mixin ticketPicture(picture = `blank.png`, title)
  // img(src='/img/' + picture srcset='/img/item02@2x.jpg 2x' alt=title)
  img(src='/img/' + picture alt=title)

mixin categoryImage(category)
  -
    const idPadded = category.id > 6 ? `` : `0${category.id}`

  img(src=`/img/cat${idPadded}.jpg` srcset=`/img/cat${idPadded}@2x.jpg 2x` alt=category.name)

mixin pagination(page, totalPages, width, prefix = '?')
  -
    let start = page - width;
    let end = page + width;

    if(start < 1){
      end += 1 - start;
      start = 1;
    }

    if(end > totalPages){
      start -= end - totalPages;
      end = totalPages;
    }

    if(start < 1){
      start = 1;
    }

    let i = start - 1

  style.
    a.active{
      pointer-events: none;
    }

  .tickets-list__pagination
    ul.pagination
      if start > 1
        li
          a(href=`${prefix}page=${page - 1}`) назад
      while i++ < end
        li
          a(class=`${i === Number(page) ? 'active' : ''}` href=`${prefix}page=${i}`)= i
      if end < totalPages
        li
          a(href=`${prefix}page=${page + 1}`) дальше

doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='description' content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Куплю Продам
    link(rel='stylesheet' href='/css/style.min.css')
  body
    include partials/header
    block content
    include partials/footer
    script(src='/js/vendor.js')
    script(src='/js/main.js')
